{% extends'Base.html.twig' %}

{% block title %}Sign Up!{% endblock %}
{% block body %}
    <div class="app-features text-center" id="features">
        <div class="container">
            <h1 class="wow fadeInDown" data-wow-delay="0.1s">My promise to you</h1>
            <p class="wow fadeInDown" data-wow-delay="0.2s"> Aliquam sagittis ligula et sem lacinia, ut facilisis enim sollicitudin. Proin nisi est,<br class="hidden-xs">
                convallis nec purus vitae, iaculis posuere sapien. </p>
            <div class="col-md-4 features-left text-right">
                <div class="col-md-12 wow fadeInDown" data-wow-delay="0.2s">
                    <div class="icon"> <i class="ion-ios-list-outline"></i> </div>
                    <div class="feature-single">
                        <p>Will create a plan that’s tailored to your situation and create your everyday nutrition strategies.</p>
                    </div>
                </div>
                <div class="col-md-12 wow fadeInDown" data-wow-delay="0.3s">
                    <div class="icon"> <i class="ion-ios-speedometer-outline"></i> </div>
                    <div class="feature-single">
                        <p>Bring to the table win-win survival strategies to ensure proactive domination.</p>
                    </div>
                </div>
                <div class="col-md-12 wow fadeInDown" data-wow-delay="0.4s">
                    <div class="icon"> <i class="ion-ios-pulse"></i> </div>
                    <div class="feature-single">
                        <p>Will create a plan that’s tailored to your situation and create your everyday nutrition strategies.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInDown" data-wow-delay="0.5s"> <img class="img-responsive" src="images/iPhone-app.png" alt="App" /> </div>
            <div class="col-md-4 features-left text-left">
                <div class="col-md-12 wow fadeInDown" data-wow-delay="0.6s">
                    <div class="icon"> <i class="ion-ios-americanfootball-outline"></i> </div>
                    <div class="feature-single">
                        <p> Bring to the table win-win survival strategies to ensure proactive domination.</p>
                    </div>
                </div>
                <div class="col-md-12 wow fadeInDown" data-wow-delay="0.7s">
                    <div class="icon"> <i class="ion-ios-heart-outline"></i> </div>
                    <div class="feature-single">
                        <p>Bring to the table win-win survival strategies to ensure proactive domination.</p>
                    </div>
                </div>
                <div class="col-md-12 wow fadeInDown" data-wow-delay="0.8s">
                    <div class="icon"> <i class="ion-ios-analytics-outline"></i> </div>
                    <div class="feature-single">
                        <p>Will create a plan that’s tailored to your situation and create your everyday nutrition strategies.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Split Feature1 Section -->
    <div class="split-features">
        <div class="col-md-6 nopadding">
            <div class="split-image"> <img class="img-responsive wow fadeIn" src="images/app_image.png" alt="Image" /> </div>
        </div>
        <div class="col-md-6 nopadding">
            <div class="split-content">
                <h1 class="wow fadeInUp">Keep your body fit & strong to <br>
                    live longer</h1>
                <p class="wow fadeInUp"> Pellentesque eget dolor gravida, tempus purus ac, ultricies mauris. Etiam est nisl, molestie sed egestas bibendum, varius eu diam. Suspendisse est metus, ultrices sit amet dolor in, rhoncus malesuada mi.</p>
                <ul class="wow fadeInUp">
                    <li>Nulla ornare purus non consequat ultricies.</li>
                    <li>Etiam est nisl, molestie sed egestas bibendum</li>
                    <li>Aliquam vel euismod elit, sed suscipit est.</li>
                    <li>Curabitur egestas justo neque viverra vel. </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Split Feature2 Section -->
    <div class="split-features2">
        <div class="col-md-6 nopadding">
            <div class="split-content second">
                <h1 class="wow fadeInUp">See The Results and Feel the difference</h1>
                <p class="wow fadeInUp"> Pellentesque eget dolor gravida, tempus purus ac, ultricies mauris. Etiam est nisl, molestie sed egestas bibendum, varius eu diam. Suspendisse est metus, ultrices sit amet dolor in, rhoncus malesuada mi.</p>
                <ul class="wow fadeInUp">
                    <li>Nulla ornare purus non consequat ultricies.</li>
                    <li>Etiam est nisl, molestie sed egestas bibendum</li>
                    <li>Aliquam vel euismod elit, sed suscipit est.</li>
                    <li>Curabitur egestas justo neque viverra vel. </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 nopadding">
            <div class="split-image"> <img class="img-responsive wow fadeIn" src="images/app_image2.png" alt="Image" /> </div>
        </div>
    </div>
    <!-- Split Feature3 Section -->
    <div class="split-features">
        <div class="col-md-6 nopadding">
            <div class="split-image"> <img class="img-responsive wow fadeIn" src="images/gym-3.jpg" alt="Image" /> </div>
        </div>
        <div class="col-md-6 nopadding">
            <div class="split-content">
                <h1 class="wow fadeInUp">Command Performance You<br>
                    deserve it</h1>
                <p class="wow fadeInUp"> Pellentesque eget dolor gravida, tempus purus ac, ultricies mauris. Etiam est nisl, molestie sed egestas bibendum, varius eu diam. Suspendisse est metus, ultrices sit amet dolor in, rhoncus malesuada mi.</p>
                <ul class="wow fadeInUp">
                    <li>Nulla ornare purus non consequat ultricies.</li>
                    <li>Etiam est nisl, molestie sed egestas bibendum</li>
                    <li>Aliquam vel euismod elit, sed suscipit est.</li>
                    <li>Curabitur egestas justo neque viverra vel. </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}