{% extends 'base.html.twig' %}
{% block title %}Subscriptions{% endblock %}
{% block body %}
<div id="pricing" class="pricing-section text-center">
    <div class="container">
        <div class="col-md-12 col-sm-12 nopadding">
            <div class="pricing-intro">
                <h1 class="wow fadeInUp" data-wow-delay="0s">SUBSCRIPTIONS</h1>
            </div>
            <div class="col-sm-6">
                <div class="table-left wow fadeInUp" data-wow-delay="0.4s">
                    <div class="pricing-details">
                        <h2>3 MONTHS</h2>
                        <span>320 DT</span>
                        <ul>
                            <li>INCLUDED FOR ALL COURSES</li>
                            <li>REGISTRATION AND INSURANCE FEES OF 30 DT TO BE PROVIDED IN ADDITION</li>
                        </ul>
                        <button class="btn btn-primary btn-action btn-fill">Get Plan</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="table-right wow fadeInUp" data-wow-delay="0.6s">
                    <div class="pricing-details">
                        <h2>6 MONTHS</h2>
                        <span>560 DT</span>
                        <ul>
                            <li>INCLUDED FOR ALL COURSES</li>
                            <li>REGISTRATION AND INSURANCE FEES OF 30 DT TO BE PROVIDED IN ADDITION</li>
                        </ul>
                        <button class="btn btn-primary btn-action btn-fill">Get Plan</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="table-right wow fadeInUp" data-wow-delay="0.6s">
                <div class="pricing-details">
                    <h2>12 MONTHS</h2>
                    <span>890 DT</span>
                    <ul>
                        <li>INCLUDED FOR ALL COURSES</li>
                        <li>REGISTRATION AND INSURANCE FEES OF 30 DT TO BE PROVIDED IN ADDITION</li>
                    </ul>
                    <button class="btn btn-primary btn-action btn-fill">Get Plan</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="table-right wow fadeInUp" data-wow-delay="0.6s">
                <div class="pricing-details">
                    <h2>ACCESS BY SESSION</h2>
                    <span>20 DT</span>
                    <ul>
                        <li>INCLUDED FOR ALL COURSES</li>
                        <li>REGISTRATION AND INSURANCE FEES OF 30 DT TO BE PROVIDED IN ADDITION</li>
                    </ul>
                    <button class="btn btn-primary btn-action btn-fill">Get Plan</button>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}