{%  extends 'base.html.twig' %}
{% block content %}
    <br />
    <br />
<center>

    <h1>Bienvenue au DreamFitness</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}

</center>
{% endblock %}